<% include partials/header %>

<h1>Goal Setter</h1>
<form method="POST" action="/form">
    <label for="Goal">Goal: </label>
    <input type="text" placeholder="Set your Goal" name="title">
    <input type="submit" name="submit" />
</form>
<% include partials/footer %>